.LoginPage-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    #LoginPage-Wrapper-Form {
        display: flex;
        flex-direction: column;
    }


    .sc-iqVVwt {
        margin-bottom: 10px;
    } 
}